.header__login-link{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    cursor: pointer;
}

@media screen and (max-width: 550px){
    .header__login-link{
        font-size: 14px;
        line-height: 16.94px;
    }
}

.header__login-link:hover{
    opacity: 60%;
    transition: 0.5s;
  }