@media screen and (max-width: 550px) {
  .header__login_type-column {
    flex-direction: column;
    align-items: center;
    gap: 18px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding: 40px 0 40px 0;
    width: 100%;
  }
}
